.main {
  display: grid;
  grid-template-columns: 65% 1fr;
  margin: 1rem;
}

.info {
  display: flex;
  border-radius: 1rem 0 0 1rem;
  background-image: linear-gradient(to left, #2e9bec, #24a9d9 0%, #1e2440);
  min-width: auto;
  min-height: 85vh;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.7),
    inset -2px -2px 3px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;

  background: none;
  border: none;

  padding: 0 0.5rem;
  font-size: 17px;

  min-width: auto;
  min-height: auto;
}

.btn:hover > i {
  color: #24a9d9;
}

.selected > i {
  color: #2e9bec;
}

.pass {
  margin-top: 1.5rem;
}
