<div
  class="flex min-h-screen items-center justify-center bg-[url('https://img.freepik.com/free-vector/gradient-blue-background_23-2149338379.jpg')] bg-cover bg-center bg-no-repeat overflow-x-hidden"
>
  <div class="relative flex items-center justify-center">
    <!-- Tarjeta de login -->
    <div
      class="relative z-10 max-w-md space-y-6 rounded-xl bg-white/90 p-4 shadow-xl backdrop-blur"
    >
      <!-- Título -->
      <div>
        <h3 class="mb-1.5 text-2xl font-semibold text-gray-800">Sign in</h3>
      </div>

      <form [formGroup]="login_form" (keydown)="onKeydown($event)">
        <div class="login">
          <div class="gap-2">
            <button
              class="btn btn-outline btn-primary grow transition-colors duration-200"
              [class.bg-blue-700]="userType === 'estudiante'"
              [class.text-white]="userType === 'estudiante'"
              [attr.aria-pressed]="userType === 'estudiante'"
              [ngClass]="{ selected: activeClass }"
              (click)="userType = 'estudiante'"
            >
              <i class="fa-solid fa-user fa-lg"></i>
              <p>Student</p>
            </button>
            <button
              class="btn btn-outline btn-primary grow transition-colors duration-200"
              [class.bg-blue-700]="userType === 'profesor'"
              [class.text-white]="userType === 'profesor'"
              [attr.aria-pressed]="userType === 'profesor'"
              [ngClass]="{ selected: !activeClass }"
              (click)="userType = 'profesor'"
            >
              <i class="fa-solid fa-chalkboard-user fa-lg"></i>
              <p>Teacher</p>
            </button>
          </div>

          <div class="inputs">
            <label
              for="user"
              class="mb-1 block text-sm font-medium text-gray-700"
              >Account Number*</label
            >
            <input
              placeholder="12345678"
              type="text"
              name=""
              id="user"
              class="w-full rounded-lg border border-gray-300 px-3 py-2 text-gray-800 focus:border-blue-500 focus:ring focus:ring-blue-200"
              formControlName="nro_cuenta"
            />
          </div>

          <div class="inputs pass">
            <label
              for="pass"
              class="mb-1 block text-sm font-medium text-gray-700"
              >Password*</label
            >
            <input
              placeholder="••••••••••"
              type="password"
              name=""
              id="pass"
              class="w-full rounded-lg border border-gray-300 px-3 py-2 text-gray-800 focus:border-blue-500 focus:ring focus:ring-blue-200"
              formControlName="password"
            />
          </div>
          <!-- Divider -->
          <div class="flex m-4 items-center gap-3">
            <hr class="flex-grow border-gray-500" />
            <hr class="flex-grow border-gray-500" />
          </div>
          <button
            type="button"
            class="w-full rounded-lg bg-blue-600 px-4 py-2 text-white font-medium hover:bg-blue-700 transition"
            (click)="sendLogin()"
          >
            Log in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
