.info_grafic {
  position: relative;
  width: 100%;
  padding: 1rem;
}

.info_grafic canvas {
  max-width: 100%;
  max-height: 100%;
}

.info_table {
  font-size: 0.875rem;
}

.info_table td {
  text-align: center;
  min-width: 2rem;
  padding: 0.25rem;
}

.info_table th {
  white-space: nowrap;
  font-weight: 600;
}
