.viewer-container {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 95vh;
  padding: 1em;
}

.btn-view {
  text-decoration: none;
  background: #0b5ed7;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
}

.viewer-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

video,
img,
iframe {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.viewer-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
